<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herb.lib.dao.mapper.book.BookMapper">

    <resultMap id="BookDTO" type="com.herb.lib.api.model.book.BookDTO">
        <id column="id" property="id"/>
        <result column="book_name" property="bookName"/>
        <result column="book_class_id" property="bookClassId"/>
        <result column="book_price" property="bookPrice"/>
        <result column="book_count" property="bookCount"/>
        <result column="book_publish" property="bookPublish"/>
        <result column="book_author" property="bookAuthor"/>
        <result column="book_img" property="bookImg"/>
        <result column="publish_date" property="publishDate"/>
        <result column="tmp1" property="tmp1"/>
        <result column="tmp2" property="tmp2"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="valid_flag" property="validFlag"/>
    </resultMap>

    <sql id="base_column">
        id, book_name,book_class_id,book_price,book_count, book_publish, book_author, book_img, publish_date, tmp1,tmp2,create_date,update_date,valid_flag
    </sql>

    <select id="findListByName" resultMap="BookDTO">
        SELECT
        <include refid="base_column"/>
        FROM book where book_name like '${bookName}%'
        AND valid_flag='ENABLE'
    </select>

    <select id="findById" resultMap="BookDTO">
        SELECT
        <include refid="base_column"/>
        FROM book where id=#{id}
        AND valid_flag='ENABLE'
    </select>

    <insert id="insert">
        INSERT INTO book(book_name,book_class_id,book_price,book_count,book_publish,book_author,book_img,publish_date, valid_flag)
        values
        (#{bookName},#{bookClassId},#{bookPrice},#{bookCount},#{bookPublish},#{bookAuthor},#{bookImg},#{publishDate},#{validFlag})
    </insert>

    <update id="update">
        UPDATE book
        <set>
            <if test="bookName != null">
                book_name=#{bookName},
            </if>
            <if test="updateDate != null">
                update_date=#{updateDate},
            </if>
            <if test="bookCount != null">
                book_count=#{bookCount},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        UPDATE book set valid_flag='DISABLE' where id=#{id}
    </delete>
</mapper>